<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mt-4">Liste des etudiants</h6>
    <div class="d-flex justify-content-between">
        <a href="" class="btn btn-success" routerLink="newetudiant" >Ajouter un Etudiant</a>
    </div>
    <div *ngIf="etudiants?.length" class="d-flex text-muted pt-3">
        <table class="table table-bordered table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let et of etudiants ;index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{et.nom}}</td>
                    <td>{{et.prenom}}</td>
                    <td>{{et.classe.libelle}}</td>
                    <td>
                        <a routerLink="etudiant/show/{{et.id}}"  class="btn btn-danger" >Show</a>
                        <a routerLink="etudiant/edit/{{et.id}}"  class="btn btn-primary" style="margin-right: 6px;">Editer</a>
                        
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
 
  </div>